# Philippine Poverty Statistics - EDA

## Read Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('povstat_processed.csv')
df

,Unnamed: 0,Variable,Year,province,value,adm_level,region,unit
0,0,Annual Per Capita Poverty Threshold (in Pesos),1991,1st District,NaN,District,NCR,in Pesos
1,1,Annual Per Capita Poverty Threshold (in Pesos),2006,1st District,"15,699",District,NCR,in Pesos
2,2,Annual Per Capita Poverty Threshold (in Pesos),2009,1st District,"19,227",District,NCR,in Pesos
3,3,Annual Per Capita Poverty Threshold (in Pesos),2012,1st District,"20,344",District,NCR,in Pesos
4,4,Annual Per Capita Poverty Threshold (in Pesos),2015,1st District,"25,007",District,NCR,in Pesos
...,...,...,...,...,...,...,...,...
3600,3600,Magnitude of Subsistence Poor Population,1991,Zamboanga del Sur,NaN,Province,Region IX,population
3601,3601,Magnitude of Subsistence Poor Population,2006,Zamboanga del Sur,"268,576",Province,Region IX,population
3602,3602,Magnitude of Subsistence Poor Population,2009,Zamboanga del Sur,"261,992",Province,Region IX,population
3603,3603,Magnitude of Subsistence Poor Population,2012,Zamboanga del Sur,"209,765",Province,Region IX,population
3604,3604,Magnitude of Subsistence Poor Population,2015,Zamboanga del Sur,"143,740",Province,Region IX,population

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3605 non-null   int64
 1   Variable    3605 non-null   object
 2   Year        3605 non-null   int64
 3   province    3605 non-null   object
 4   value       3010 non-null   object
 5   adm_level   3360 non-null   object
 6   region      3360 non-null   object
 7   unit        3605 non-null   object
dtypes: int64(2), object(6)
memory usage: 225.4+ KB

## Data Preparation

### Cleanup

In [4]:
# Drop first column (index) as Pandas dataframe already adds index
df.drop(columns=df.columns[[0]], axis=1, inplace=True)

In [5]:
# Rename columns
df.rename(columns = {
    'Variable': 'Variable',
    'Year': 'Year',
    'province': 'Province',
    'value': 'Value',
    'adm_level': 'Admin_Lvl',
    'region': 'Region',
    'unit': 'Unit'
}, inplace=True)

### Inspect unique values

In [6]:
# Print counts of unique values per column
print("Unique value counts per column:")
df.nunique()

Unique value counts per column:

Variable        7
Year            5
Province      103
Value        2168
Admin_Lvl       4
Region         18
Unit            4
dtype: int64

In [7]:
# List unique values per column
unique_vars = df['Variable'].unique().tolist()
unique_years = df['Year'].unique().tolist()
unique_admins = df['Admin_Lvl'].unique().tolist()
unique_regions = df['Region'].unique().tolist()
unique_units = df['Unit'].unique().tolist()

In [8]:
print("Unique values in Variable:")
print("\n".join(map(str, unique_vars)))

Unique values in Variable:
Annual Per Capita Poverty Threshold (in Pesos)
Poverty Incidence among Families (%)
Magnitude of Poor Families
Poverty Incidence among Population (%)
Magnitude of Poor Population
Subsistence Incidence among Population (%)
Magnitude of Subsistence Poor Population

In [9]:
print("Unique values in Year:")
print("\n".join(map(str, unique_years)))

Unique values in Year:
1991
2006
2009
2012
2015

In [10]:
print("Unique values in Admin_Lvl:")
print("\n".join(map(str, unique_admins)))

Unique values in Admin_Lvl:
District
Region
Province
nan
Country

In [11]:
print("Unique values in Region:")
print("\n".join(map(str, unique_regions)))

Unique values in Region:
NCR
ARMM
CAR
CARAGA
Region VI
Region V
nan
Region III
Region VI-A
Region VIII
Region VII
Region X
Region II
Region XI
Region I
Region IV-B
Region XII
Philippines
Region IX

In [12]:
print("Unique values in Unit:")
print("\n".join(map(str, unique_units)))

Unique values in Unit:
in Pesos
%
families
population

### Cast columns to relevant datatypes

In [14]:
# Inspect if entries under 'Value' may cause trouble with type conversion
faulty_values = df[pd.to_numeric(df['Value'], errors='coerce').isnull()]['Value'].unique()

print(f"{len(faulty_values)} faulty values returned:")
list(faulty_values)

1671 faulty values returned:

[nan,
 '  15,699 ',
 '  19,227 ',
 '  20,344 ',
 '  25,007 ',
 '  9,906 ',
 '  12,405 ',
 '  14,343 ',
 '  12,710 ',
 '  79,109 ',
 '  84,914 ',
 '  102,591 ',
 '  82,007 ',
 '  22,528 ',
 '  8,902 ',
 '  24,855 ',
 '  28,247 ',
 '  21,168 ',
 '  19,782 ',
 '  21,727 ',
 '  183,449 ',
 '  131,502 ',
 '  104,495 ',
 '  137,392 ',
 '  13,020 ',
 '  17,896 ',
 '  16,828 ',
 '  15,456 ',
 '  18,631 ',
 '  19,306 ',
 '  18,266 ',
 '  22,352 ',
 '  113,009 ',
 '  113,585 ',
 '  100,451 ',
 '  115,990 ',
 '  21,823 ',
 '  30,476 ',
 '  10,459 ',
 '  19,967 ',
 '  16,570 ',
 '  11,095 ',
 '  24,138 ',
 '  23,457 ',
 '  124,306 ',
 '  73,457 ',
 '  153,295 ',
 '  159,242 ',
 '  34,761 ',
 '  7,262 ',
 '  22,004 ',
 '  22,469 ',
 '  5,201 ',
 '  12,647 ',
 '  16,683 ',
 '  20,517 ',
 '  21,563 ',
 '  104,747 ',
 '  205,834 ',
 '  212,494 ',
 '  271,355 ',
 '  296,999 ',
 '  631,372 ',
 '  1,450,467 ',
 '  1,507,868 ',
 '  1,854,188 ',
 '  1,990,503 ',
 '  234,254 ',
 '  529,242 ',
 '  452,480 ',
 '  832,481 ',
 '  783,054 ',
 '  14,680 ',
 '  17,852 ',
 '  19,775 ',
 '  21,240 ',
 '  18,054 ',
 '  18,852 ',
 '  13,914 ',
 '  12,400 ',
 '  105,370 ',
 '  107,945 ',
 '  84,347 ',
 '  76,930 ',
 '  55,266 ',
 '  66,180 ',
 '  30,475 ',
 '  22,360 ',
 '  14,739 ',
 '  18,890 ',
 '  18,905 ',
 '  21,535 ',
 '  46,898 ',
 '  48,842 ',
 '  39,125 ',
 '  45,678 ',
 '  273,427 ',
 '  290,793 ',
 '  230,721 ',
 '  270,149 ',
 '  146,385 ',
 '  157,473 ',
 '  105,651 ',
 '  121,778 ',
 '  14,969 ',
 '  19,107 ',
 '  19,634 ',
 '  22,957 ',
 '  56,058 ',
 '  70,560 ',
 '  52,809 ',
 '  50,990 ',
 '  327,984 ',
 '  398,421 ',
 '  324,597 ',
 '  318,638 ',
 '  193,710 ',
 '  255,170 ',
 '  176,354 ',
 '  157,330 ',
 '  13,235 ',
 '  16,758 ',
 '  17,707 ',
 '  21,387 ',
 '  33,647 ',
 '  41,583 ',
 '  25,204 ',
 '  11,600 ',
 '  207,009 ',
 '  219,711 ',
 '  136,917 ',
 '  67,199 ',
 '  93,866 ',
 '  118,900 ',
 '  29,177 ',
 '  4,076 ',
 '  13,413 ',
 '  17,098 ',
 '  18,610 ',
 '  22,081 ',
 '  67,788 ',
 '  75,910 ',
 '  90,551 ',
 '  50,815 ',
 '  434,478 ',
 '  433,673 ',
 '  511,636 ',
 '  340,305 ',
 '  166,543 ',
 '  184,950 ',
 '  245,109 ',
 '  144,881 ',
 '  13,497 ',
 '  17,050 ',
 '  17,160 ',
 '  20,382 ',
 '  45,308 ',
 '  39,314 ',
 '  28,598 ',
 '  20,532 ',
 '  258,539 ',
 '  205,288 ',
 '  160,625 ',
 '  126,943 ',
 '  121,019 ',
 '  92,799 ',
 '  67,455 ',
 '  35,678 ',
 '  13,915 ',
 '  16,923 ',
 '  18,623 ',
 '  20,947 ',
 '  8,944 ',
 '  9,132 ',
 '  13,462 ',
 '  6,945 ',
 '  50,259 ',
 '  51,298 ',
 '  68,970 ',
 '  36,004 ',
 '  29,697 ',
 '  32,925 ',
 '  37,989 ',
 '  8,621 ',
 '  11,883 ',
 '  14,979 ',
 '  18,466 ',
 '  20,458 ',
 '  10,211 ',
 '  6,445 ',
 '  12,789 ',
 '  12,793 ',
 '  53,282 ',
 '  31,279 ',
 '  60,075 ',
 '  57,619 ',
 '  27,606 ',
 '  2,905 ',
 '  22,785 ',
 '  31,905 ',
 '  12,538 ',
 '  16,256 ',
 '  19,368 ',
 '  20,678 ',
 '  14,137 ',
 '  14,781 ',
 '  16,832 ',
 '  11,125 ',
 '  108,642 ',
 '  94,660 ',
 '  110,711 ',
 '  75,019 ',
 '  16,380 ',
 '  7,735 ',
 '  9,614 ',
 '  14,539 ',
 '  13,862 ',
 '  17,643 ',
 '  19,383 ',
 '  24,770 ',
 '  8,359 ',
 '  8,688 ',
 '  7,116 ',
 '  2,751 ',
 '  57,937 ',
 '  51,033 ',
 '  46,555 ',
 '  14,793 ',
 '  7,283 ',
 '  18,026.9 ',
 '  17,508 ',
 '  21,776 ',
 '  24,693 ',
 '  29,118 ',
 '  -   ',
 '  3,575 ',
 '  3,092 ',
 '  4,380 ',
 '  3,619 ',
 '  13,735 ',
 '  17,360 ',
 '  19,437 ',
 '  21,767 ',
 '  49,739 ',
 '  62,889 ',
 '  80,551 ',
 '  40,163 ',
 '  301,261 ',
 '  374,373 ',
 '  452,808 ',
 '  254,132 ',
 '  112,755 ',
 '  126,621 ',
 '  175,738 ',
 '  65,034 ',
 '  13,341 ',
 '  16,217 ',
 '  19,140 ',
 '  21,561 ',
 '  5,773 ',
 '  6,937 ',
 '  5,121 ',
 '  4,783 ',
 '  40,123 ',
 '  43,778 ',
 '  27,789 ',
 '  28,418 ',
 '  9,637 ',
 '  13,696 ',
 '  4,812 ',
 '  3,437 ',
 '  11,841 ',
 '  15,350 ',
 '  17,393 ',
 '  21,008 ',
 '  7,143 ',
 '  10,701 ',
 '  7,468 ',
 '  8,173 ',
 '  46,289 ',
 '  70,076 ',
 '  45,762 ',
 '  45,007 ',
 '  18,797 ',
 '  24,212 ',
 '  13,768 ',
 '  17,084 ',
 '  14,098 ',
 '  16,633 ',
 '  18,847 ',
 '  20,437 ',
 '  97,368 ',
 '  93,942 ',
 '  83,455 ',
 '  60,279 ',
 '  544,187 ',
 '  512,094 ',
 '  429,000 ',
 '  298,196 ',
 '  322,270 ',
 '  253,078 ',
 '  186,652 ',
 '  110,296 ',
 '  13,150 ',
 '  17,210 ',
 '  20,115 ',
 '  23,682 ',
 '  86,133 ',
 '  98,340 ',
 '  120,760 ',
 '  135,909 ',
 '  531,119 ',
 '  579,992 ',
 '  664,158 ',
 '  732,027 ',
 '  283,444 ',
 '  305,419 ',
 '  345,189 ',
 '  429,969 ',
 '  14,671 ',
 '  18,434 ',
 '  19,910 ',
 '  21,989 ',
 '  27,997 ',
 '  29,371 ',
 '  38,103 ',
 '  24,359 ',
 '  192,861 ',
 '  193,819 ',
 '  227,670 ',
 '  151,491 ',
 '  31,137 ',
 '  23,726 ',
 '  57,585.0 ',
 '  38,950.3 ',
 '  6,706 ',
 '  14,107 ',
 '  17,243 ',
 '  19,483 ',
 '  21,770 ',
 '  83,557 ',
 '  66,607 ',
 '  66,111 ',
 '  65,516 ',
 '  59,759 ',
 '  527,373 ',
 '  392,117 ',
 '  390,066 ',
 '  373,740 ',
 '  351,590 ',
 '  314,545 ',
 '  205,548 ',
 '  199,163 ',
 '  163,097 ',
 '  124,763 ',
 '  14,355 ',
 '  17,866 ',
 '  18,741 ',
 '  21,094 ',
 '  56,765 ',
 '  55,061 ',
 '  40,237 ',
 '  35,986 ',
 '  314,233 ',
 '  295,591 ',
 '  219,078 ',
 '  189,581 ',
 '  119,669 ',
 '  106,900 ',
 '  59,769 ',
 '  38,880 ',
 '  13,066 ',
 '  16,675 ',
 '  18,390 ',
 '  22,096 ',
 '  32,037 ',
 '  36,527 ',
 '  26,663 ',
 '  39,647 ',
 '  217,410 ',
 '  227,105 ',
 '  160,390 ',
 '  237,712 ',
 '  102,263 ',
 '  64,081 ',
 '  55,176 ',
 '  88,450 ',
 '  13,492 ',
 '  17,223 ',
 '  18,717 ',
 '  22,154 ',
 '  131,601 ',
 '  142,173 ',
 '  121,614 ',
 '  104,902 ',
 '  815,084 ',
 '  855,074 ',
 '  771,984 ',
 '  665,165 ',
 '  418,514 ',
 '  365,353 ',
 '  283,965 ',
 '  168,733 ',
 '  12,152 ',
 '  16,022 ',
 '  21,521 ',
 '  21,678 ',
 '  5,283 ',
 '  3,642 ',
 '  7,796 ',
 '  7,041 ',
 '  28,073 ',
 '  21,183 ',
 '  48,774 ',
 '  36,182 ',
 '  11,704 ',
 '  4,291 ',
 '  26,206 ',
 '  11,585 ',
 '  13,596 ',
 '  17,248 ',
 '  20,144 ',
 '  21,146 ',
 '  34,419 ',
 '  35,726 ',
 '  37,143 ',
 '  15,654 ',
 '  208,858 ',
 '  201,099 ',
 '  208,208 ',
 '  118,678 ',
 '  60,510 ',
 '  90,739 ',
 '  91,947 ',
 '  23,911 ',
 '  6,099 ',
 '  14,324 ',
 '  18,309 ',
 '  19,629 ',
 '  22,570 ',
 '  163,244 ',
 '  191,315 ',
 '  227,453 ',
 '  169,522 ',
 '  178,160 ',
 '  972,186 ',
 '  1,132,669 ',
 '  1,291,683 ',
 '  1,001,923 ',
 '  1,062,312 ',
 '  593,582 ',
 '  629,117 ',
 '  731,148 ',
 '  455,903 ',
 '  456,930 ',
 '  13,369 ',
 '  17,057 ',
 '  18,303 ',
 '  21,660 ',
 '  15,193 ',
 '  11,002 ',
 '  13,919 ',
 '  20,022 ',
 '  91,033 ',
 '  65,268 ',
 '  86,574 ',
 '  129,486 ',
 '  42,402 ',
 '  32,317 ',
 '  62,337 ',
 '  50,591 ',
 '  13,343 ',
 '  16,677 ',
 '  19,948 ',
 '  24,882 ',
 '  7,093 ',
 '  15,157 ',
 '  19,983 ',
 '  35,873 ',
 '  49,511 ',
 '  93,697 ',
 '  113,359 ',
 '  233,844 ',
 '  7,762 ',
 '  17,660 ',
 '  59,553 ',
 '  15,064 ',
 '  17,770 ',
 '  18,855 ',
 '  21,740 ',
 '  209,301 ',
 '  200,481 ',
 '  185,603 ',
 '  179,162 ',
 '  1,184,478 ',
 '  1,108,152 ',
 '  1,000,163 ',
 '  986,557 ',
 '  579,508 ',
 '  527,568 ',
 '  370,778 ',
 '  369,384 ',
 '  13,911 ',
 '  17,788 ',
 '  20,932 ',
 '  22,740 ',
 '  43,546 ',
 '  46,267 ',
 '  48,928 ',
 '  31,608 ',
 '  239,480 ',
 '  239,800 ',
 '  259,485 ',
 '  178,922 ',
 '  112,744 ',
 '  91,320 ',
 '  116,923 ',
 '  46,728 ',
 '  14,629 ',
 '  18,103 ',
 '  20,568 ',
 '  21,825 ',
 '  12,206 ',
 '  15,754 ',
 '  21,555 ',
 '  10,570 ',
 '  77,779 ',
 '  94,347 ',
 '  130,477 ',
 '  62,325 ',
 '  41,031 ',
 '  28,738 ',
 '  30,070 ',
 '  19,900 ',
 '  13,258 ',
 '  16,948 ',
 '  19,323 ',
 '  22,210 ',
 '  43,761 ',
 '  49,155 ',
 '  45,429 ',
 '  25,622 ',
 '  243,821 ',
 '  262,029 ',
 '  246,026 ',
 '  163,594 ',
 '  117,911 ',
 '  124,323 ',
 '  123,065 ',
 '  36,061 ',
 '  13,214 ',
 '  16,863 ',
 '  20,841 ',
 '  24,424 ',
 '  48,669 ',
 '  55,869 ',
 '  60,652 ',
 '  52,665 ',
 '  271,315 ',
 '  285,271 ',
 '  328,442 ',
 '  299,673 ',
 '  141,589 ',
 '  140,483 ',
 '  124,053 ',
 '  113,736 ',
 '  13,298 ',
 '  17,046 ',
 '  19,311 ',
 '  21,846 ',
 '  93,824 ',
 '  100,860 ',
 '  113,948 ',
 '  82,554 ',
 '  514,676 ',
 '  569,381 ',
 '  577,111 ',
 '  450,012 ',
 '  273,479 ',
 '  286,774 ',
 '  238,206 ',
 '  177,807 ',
 '  13,140 ',
 '  17,091 ',
 '  20,237 ',
 '  22,886 ',
 '  34,344 ',
 '  43,489 ',
 '  52,189 ',
 '  37,919 ',
 '  223,131 ',
 '  236,588 ',
 '  279,607 ',
 '  226,309 ',
 '  134,811 ',
 '  144,702 ',
 '  167,151 ',
 '  120,427 ',
 '  12,798 ',
 '  16,204 ',
 '  18,926 ',
 '  23,136 ',
 '  6,330 ',
 '  4,665 ',
 '  6,345 ',
 '  1,594 ',
 '  38,435 ',
 '  37,036 ',
 '  40,090 ',
 '  8,435 ',
 '  4,370 ',
 '  15,134 ',
 '  17,416 ',
 '  14,233 ',
 '  17,321 ',
 '  20,253 ',
 '  22,673 ',
 '  7,575 ',
 '  9,263 ',
 '  14,950 ',
 '  11,133 ',
 '  47,642 ',
 '  56,194 ',
 '  79,680 ',
 '  68,321 ',
 '  17,820 ',
 '  18,649 ',
 '  41,953 ',
 '  35,386 ',
 '  14,512 ',
 '  17,990 ',
 '  18,953 ',
 '  20,615 ',
 '  16,393 ',
 '  14,045 ',
 '  11,211 ',
 '  4,848 ',
 '  94,405 ',
 '  79,794 ',
 '  55,010 ',
 '  32,822 ',
 '  42,245 ',
 '  22,908 ',
 '  8,610 ',
 '  14,836 ',
 '  20,885 ',
 '  22,535 ',
 '  22,174 ',
 '  19,256 ',
 '  20,886 ',
 '  15,269 ',
 '  120,162 ',
 '  107,066 ',
 '  105,196 ',
 '  86,612 ',
 '  37,507 ',
 '  25,297 ',
 '  46,225 ',
 '  14,406 ',
 '  12,965 ',
 '  16,448 ',
 '  18,827 ',
 '  22,117 ',
 '  71,708 ',
 '  90,558 ',
 '  102,924 ',
 '  87,264 ',
 '  453,617 ',
 '  563,572 ',
 '  580,937 ',
 '  540,001 ',
 '  195,812 ',
 '  183,411 ',
 '  222,680 ',
 '  213,579 ',
 '  13,702 ',
 '  19,400 ',
 '  22,547 ',
 '  72,134 ',
 '  74,412 ',
 '  68,106 ',
 '  42,685 ',
 '  413,905 ',
 '  407,960 ',
 '  365,024 ',
 '  259,183 ',
 '  145,696 ',
 '  138,980 ',
 '  82,353 ',
 '  27,989 ',
 '  12,763 ',
 '  16,364 ',
 '  19,670 ',
 '  20,617 ',
 '  5,940 ',
 '  4,226 ',
 '  3,429 ',
 '  6,284 ',
 '  35,302 ',
 '  25,950 ',
 '  21,518 ',
 '  45,211 ',
 '  24,173 ',
 '  2,143 ',
 '  4,597 ',
 '  7,129 ',
 '  13,079 ',
 '  15,939 ',
 '  17,342 ',
 '  20,468 ',
 '  14,340 ',
 '  9,124 ',
 '  8,482 ',
 '  12,884 ',
 '  85,794 ',
 '  56,660 ',
 '  53,768 ',
 '  78,585 ',
 '  53,305 ',
 '  31,512 ',
 '  26,315 ',
 '  32,028 ',
 '  17,724 ',
 '  18,006 ',
 '  19,045 ',
 '  31,041 ',
 '  35,938 ',
 '  26,506 ',
 '  20,554 ',
 '  183,042 ',
 '  217,782 ',
 '  134,234 ',
 '  111,952 ',
 '  69,618 ',
 '  98,330 ',
 '  54,901 ',
 '  47,615 ',
 '  13,637 ',
 '  17,412 ',
 '  19,857 ',
 '  22,772 ',
 '  37,277 ',
 '  31,409 ',
 '  32,973 ',
 '  135,048 ',
 '  217,883 ',
 '  183,129 ',
 '  181,507 ',
 '  42,944 ',
 '  28,341 ',
 '  49,892 ',
 '  33,391 ',
 '  12,519 ',
 '  18,907 ',
 '  21,836 ',
 '  57,196 ',
 '  74,184 ',
 '  83,640 ',
 '  73,536 ',
 '  335,571 ',
 '  411,901 ',
 '  443,271 ',
 '  415,967 ',
 '  189,677 ',
 '  221,351 ',
 '  270,319 ',
 '  226,388 ',
 '  13,116 ',
 '  17,024 ',
 '  22,665 ',
 '  22,802 ',
 '  51,408 ',
 '  68,770 ',
 '  100,946 ',
 '  109,258 ',
 '  367,996 ',
 '  501,993 ',
 '  687,138 ',
 '  725,262 ',
 '  146,290 ',
 '  229,623 ',
 '  461,866 ',
 '  412,985 ',
 '  12,493 ',
 '  16,255 ',
 '  17,561 ',
 '  20,807 ',
 '  117,271 ',
 '  114,843 ',
 '  128,273 ',
 '  111,394 ',
 '  671,771 ',
 '  628,371 ',
 '  713,063 ',
 '  652,690 ',
 '  313,428 ',
 '  238,137 ',
 '  260,414 ',
 '  204,946 ',
 '  12,877 ',
 '  16,701 ',
 '  18,873 ',
 '  21,423 ',
 '  70,665 ',
 '  67,899 ',
 '  87,800 ',
 '  86,100 ',
 '  471,762 ',
 '  460,209 ',
 '  571,223 ',
 '  551,681 ',
 '  205,934 ',
 '  156,521 ',
 '  231,634 ',
 '  277,716 ',
 '  12,909 ',
 '  15,678 ',
 '  17,180 ',
 '  19,722 ',
 '  15,481 ',
 '  13,971 ',
 '  12,743 ',
 '  9,157 ',
 '  89,747 ',
 '  74,517 ',
 '  73,738 ',
 '  52,450 ',
 '  28,172 ',
 '  32,098 ',
 '  19,386 ',
 '  9,165 ',
 '  12,866 ',
 '  16,415 ',
 '  17,487 ',
 '  20,406 ',
 '  70,711 ',
 '  74,864 ',
 '  72,903 ',
 '  69,674 ',
 '  434,050 ',
 '  481,921 ',
 '  448,333 ',
 '  424,568 ',
 '  232,129 ',
 '  212,088 ',
 '  176,911 ',
 '  138,135 ',
 '  12,199 ',
 '  15,966 ',
 '  18,127 ',
 '  20,376 ',
 '  42,596 ',
 '  44,405 ',
 '  36,747 ',
 '  233,664 ',
 '  255,470 ',
 '  241,738 ',
 '  197,324 ',
 '  122,196 ',
 '  137,493 ',
 '  108,704 ',
 '  61,399 ',
 '  13,430 ',
 '  17,539 ',
 '  18,938 ',
 '  21,299 ',
 '  72,773 ',
 '  75,752 ',
 '  63,513 ',
 '  58,319 ',
 '  422,063 ',
 '  392,663 ',
 '  361,628 ',
 '  338,972 ',
 '  254,834 ',
 '  207,620 ',
 '  168,193 ',
 '  121,517 ',
 '  14,910 ',
 '  18,118 ',
 '  21,138 ',
 '  23,620 ',
 '  11,920 ',
 '  12,803 ',
 '  9,586 ',
 '  11,615 ',
 '  62,931 ',
 '  74,191 ',
 '  59,186 ',
 '  63,332 ',
 '  39,822 ',
 '  36,201 ',
 '  21,553 ',
 '  22,932 ',
 '  7,373 ',
 '  86,388 ',
 '  73,353 ',
 '  63,974 ',
 '  76,530 ',
 '  80,246 ',
 '  626,484 ',
 '  499,874 ',
 '  403,458 ',
 '  460,831 ',
 '  494,630 ',
 '  135,543 ',
 '  92,132 ',
 '  55,634 ',
 '  58,193 ',
 '  82,747 ',
 '  11,826 ',
 '  14,921 ',
 '  20,464 ',
 '  125,256 ',
 '  141,585 ',
 '  164,827 ',
 '  145,182 ',
 '  776,097 ',
 '  884,100 ',
 '  961,694 ',
 '  867,141 ',
 '  289,878 ',
 '  260,376 ',
 '  367,310 ',
 '  281,940 ',
 '  11,518 ',
 '  13,625 ',
 '  18,589 ',
 '  22,823 ',
 '  99,734 ',
 '  78,122 ',
 '  131,317 ',
 '  138,029 ',
 '  526,025 ',
 '  397,815 ',
 '  638,466 ',
 '  694,293 ',
 '  273,902 ',
 '  174,760 ',
 '  375,009 ',
 '  374,135 ',
 '  12,077 ',
 '  14,862 ',
 '  18,340 ',
 '  20,555 ',
 '  60,532 ',
 '  61,568 ',
 '  131,744 ',
 '  109,146 ',
 '  331,158 ',
 '  361,554 ',
 '  708,062 ',
 '  615,923 ',
 '  147,219 ',
 '  155,375 ',
 '  441,309 ',
 '  337,875 ',
 '  12,959 ',
 '  16,883 ',
 '  19,197 ',
 '  21,574 ',
 '  47,317 ',
 '  48,079 ',
 '  51,663 ',
 '  57,003 ',
 '  294,039 ',
 '  303,403 ',
 '  309,089 ',
 '  337,064 ',
 '  192,862 ',
 '  162,360 ',
 '  146,222 ',
 '  175,868 ',
 '  14,857 ',
 '  18,732 ',
 '  20,847 ',
 '  23,403 ',
 '  85,958 ',
 '  107,224 ',
 '  91,168 ',
 '  105,793 ',
 '  469,219 ',
 '  560,167 ',
 '  488,808 ',
 '  547,711 ',
 '  160,496 ',
 '  236,448 ',
 '  150,733.7 ',
 '  142,217.2 ',
 '  13,402 ',
 '  16,725 ',
 '  18,709 ',
 '  9,576 ',
 '  9,365 ',
 '  15,297 ',
 '  8,504 ',
 '  57,577 ',
 '  55,077 ',
 '  86,968 ',
 '  51,746 ',
 ...]

In [15]:
# Apply adjustments to entries under 'Value' to prepare for type conversion
df['Value'] = df['Value'].str.strip()
df['Value'] = df['Value'].str.replace(",", "")
df['Value'] = df['Value'].replace("-", np.NaN)

In [22]:
# Convert datatypes of all columns into more relevant ones
df = df.astype({
    'Variable': 'category',
    'Year': 'int64',
    'Province': 'category',
    'Value': 'float64',
    'Admin_Lvl': 'category',
    'Region': 'category',
    'Unit': 'category'
})

# Inspect new datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3605 entries, 0 to 3604
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Variable   3605 non-null   category
 1   Year       3605 non-null   int64
 2   Province   3605 non-null   category
 3   Value      3008 non-null   float64
 4   Admin_Lvl  3360 non-null   category
 5   Region     3360 non-null   category
 6   Unit       3605 non-null   category
dtypes: category(5), float64(1), int64(1)
memory usage: 80.4 KB

### Inspect missing values

In [23]:
# Show totals of missing values per column 
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

           Total   Percent
Value        597  0.165603
Admin_Lvl    245  0.067961
Region       245  0.067961
Variable       0  0.000000
Year           0  0.000000
Province       0  0.000000
Unit           0  0.000000

From above, the missing values appear to be linked to either the variable the value is referring to or certain regions/administration levels.

### Inspect numerical data

In [24]:
df.describe() # TODO: Replace

              Year         Value
count  3605.000000  3.008000e+03
mean   2006.600000  1.717121e+05
std       8.358192  1.049844e+06
min    1991.000000  0.000000e+00
25%    2006.000000  2.590000e+01
50%    2009.000000  1.393150e+04
75%    2012.000000  8.288250e+04
max    2015.000000  2.374590e+07

### Inspect categorical data

In [25]:
# TODO

### Inspect data by variables

In [ ]:
# TODO